<!doctype html>
<html lang="en">
<%- include("head") %>
<body>
    <div class="container my-3">
        <p class="h1">Questions</p>
        <form action="/formget" method="GET">
            <% data.forEach((item)=>{ %>
            <div class="my-3">
                <p class="h2"><%= item.QID %>. <%= item.Stem %></p>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="<%= item.QID %>A" name="<%= item.QID %>" value="A" required>
                    <label class="form-check-label" for="<%= item.QID %>A"><%= item.Alt_A %></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="<%= item.QID %>B" name="<%= item.QID %>" value="B" required>
                    <label class="form-check-label" for="<%= item.QID %>B"><%= item.Alt_B %></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="<%= item.QID %>C" name="<%= item.QID %>" value="C" required>
                    <label class="form-check-label" for="<%= item.QID %>C"><%= item.Alt_C %></label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="<%= item.QID %>D" name="<%= item.QID %>" value="D" required>
                    <label class="form-check-label" for="<%= item.QID %>D"><%= item.Alt_D %></label>
                </div>
            </div>
            <% }); %>
            <hr>
            <input class="btn btn-success" type="submit" value="submit">
        </form>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
