<!doctype html>
<html lang="en">
<%- include("head") %>
<body>
    <div class="container my-3">
        <p class="h1">User Details</p>
        <div class="m-3">
            <p><strong>ID:</strong> <%= data.id %></p>
            <p><strong>First Name:</strong> <%= data.first_name %></p>
            <p><strong>Last Name:</strong> <%= data.last_name %></p>
            <p><strong>Username:</strong> <%= data.username %></p>
            <p><strong>Email:</strong> <%= data.email %></p>
        </div>
        <a href="/" class="btn btn-link px-0">Back to Users List
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
