<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <title>lab10.2</title>
</head>
<body>
    <div class="container">
        <h1>Todo Lists</h1>
        <a href="/add">Add Todo</a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Deadline</th>
            <th>Completed</th>
        </tr>
        <% data.forEach((item) => { %>
        <tr>
            <td><%= item.ID %></td>
            <td><%= item.Title %></td>
            <td><%= item.Deadline %></td>
            <td>
                <form action="/update/<%= item.ID %>" method="GET">
                    <input type="checkbox" name="status" onchange="this.form.submit()" <%- item.Status ? "checked" : "" %>>
                </form>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>
